<div class="container">
        <div id="InternalServerError"  class="col-sm-12 col-md-8 col-lg-6 mx-auto">
        <div class="card" style="width: 18rem; ">
                <div class="card-header">
                    <h4>Internal Service Error</h4>                                                      
                </div>

            <div class="card-body">
              <i class="fa fa-cog fa-spin fa-5x"></i>
              <i class="fa fa-cog fa-spin fa-5x"></i>
              <i class="fa fa-cog fa-spin fa-5x"></i>
            </div>
            <div class="card-footer">
                <h6>Contact technical support team</h6>
            </div>
        </div>
        </div>
</div>