<div class="container-fluid">      
  <div class="row">
    <div class="col-md-12 col-lg-12">     
      <nav class="navbar sticky-top navbar-expand-lg navbar-light " style="background-color: #e3f2fd">
        <a class="navbar-brand text-primary">MeetUp App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">                      
            <a class="navbar-brand text-primary" > <strong>Admin Dashboard</strong></a>              
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">              
                  <button class="btn btn-link" (click)="getAdminMeetings()"
              ><i class="fa fa-clock-o" aria-hidden="true"></i> My Schedule</button>
                </li>                                   
            </ul> 
          <div class="nav navbar-nav navbar-right ">
              <button class="btn btn-link" (click)="signOutFunction()"
                 ><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</button>
          </div>         
        </div>
      </nav>
    </div>
  </div>   
    <div class="row">  
      <div class="d-block d-sm-block d-md-none col-md-4 col-lg-4 border border-info">      
        <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #f5f5f5">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAdminToggler"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>  
          <a class="navbar-brand h1">Users of Lets Meet</a>
        </nav>  
        <div class="collapse navbar-collapse" id="navbarAdminToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item own-navbar">
                <input type="text" id="inputUserName" name="userNameSearch" [(ngModel)]="userNameSearch" class="form-control"
                  placeholder="Search For User Name">
              </li>
              <br>
              <li class="nav-item own-navbar">
                <div class="" *ngFor="let user of allUsersData | filter:userNameSearch">
  
                  <a (click)="getUserMeetings(user.userId,user.firstName + ' ' +user.lastName, user.email, user.status)" class="list-group-item list-group-item-info   list-group-item-action" *ngIf="user.userId != adminId">
                    <span>{{user.firstName}}
                      {{user.lastName}}
                    </span>
  
                    <span *ngIf="user.status == 'online'"><i class="online"></i></span>
                    <span *ngIf="user.status != 'online'"><i class="offline"></i></span>
  
                  </a>
                </div>
              </li>
  
            </ul>
          </div>
      </div>   
      <div class="d-none d-sm-none d-md-block col-md-4 col-lg-4 border border-info" style="margin-bottom: 7vh;">          
          <h5 class="btn btn-outline-info">  MeetUp App Users </h5>
          <input type="text" id="inputUserName" name="userNameSearch" [(ngModel)]="userNameSearch" class="form-control" placeholder="Search For User Name">    
          <div class="people-list">
              <div class="list-group list" *ngFor="let user of allUsersData | filter:userNameSearch">            
                  <a  (click)="getUserMeetings(user.userId,user.firstName + ' ' +user.lastName, user.email,user.status)" class="list-group-item list-group-item-action list-group-item-info" *ngIf="user.userId != adminId">                                                    
                    <span>{{user.firstName}}
                      {{user.lastName}}
                    </span>                    
                    <span *ngIf="user.status == 'online'"><i class="online"></i></span>
                    <span *ngIf="user.status != 'online'"><i class="offline"></i></span>            
                  </a>
                </div>           
          </div>    
      </div>
  
      <div class="col-sm-12 col-md-8 col-lg-8 border border-info"> 
        <h6 *ngIf="isAdmin" class="text-center">Welcome {{userName}} Check your calendar for Meetings associated with all participants </h6>
        <h6 *ngIf="isUser" class="text-center">Meetings associated with <span class="text-primary"> {{this.currentUserName}}</span></h6>        
        <div class="row">
          <div class="col-md-3">
            <div class="btn-group btn-group-sm" >
              <button
                class="btn btn-primary btn-sm"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
                [disabled]="prevBtnDisabled"
              >
              <i class="fa fa-angle-left"></i>
            </button>
              <div
                class="btn btn-outline-secondary btn-sm"
                mwlCalendarToday
                [(viewDate)]="viewDate"
              >
                Today
              </div>
              <button
                class="btn btn-primary btn-sm"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
                [disabled]="nextBtnDisabled"
              >
              <i class="fa fa-angle-right"></i>
              </button>
            </div>
          </div>        
          <div class="col-md-3">
            <span>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>
          </div>        
          <div class="col-md-4">
            <div class="btn-group btn-group-sm">
              <div
                class="btn btn-primary btn-sm"
                (click)="setView(CalendarView.Month)"
                [class.active]="view === CalendarView.Month"
              >
                Month
              </div>
              <div
                class="btn btn-primary btn-sm"
                (click)="setView(CalendarView.Week)"
                [class.active]="view === CalendarView.Week"
              >
                Week
              </div>
              <div
                class="btn btn-primary btn-sm"
                (click)="setView(CalendarView.Day)"
                [class.active]="view === CalendarView.Day"
              >
                Day
              </div>
            </div>
          </div>
        </div>
        
        <div [ngSwitch]="view" style="height:70vh;overflow-y:scroll">
          <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      (beforeViewRender)="beforeMonthViewRender($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>
  
  <br />
  <h6 *ngIf="isAdmin" class="text-center">Select a User to schedule meeting </h6>
  <h6 *ngIf="isUser">
    create new meeting with   {{this.currentUserName}}
    <button class="btn btn-primary pull-right" (click)="goToAddMeeting()">
        <i class="fa fa-plus"></i>
      ADD
    </button>
    <div class="clearfix"></div>
  </h6>
  </div>
</div>
</div>
  <ng-template #modalAddMeeting let-close="close">
      <div class="modal-header">
        <h5 class="modal-title">Add New Meeting with</h5><br>
          <span style="font-family: cursive;">{{currentUserName}}</span>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #createMeetingForm="ngForm" (ngSubmit)="createMeetingFunction()">
      <div class="modal-body">
          <div class="row">
              <div class="col-md">
                <span>Meeting hosted by : {{adminName}}</span>
              </div>
            </div>
          <div class="row">
          <div class="col-md-5">
              <label for="startTime" class="sr-only">Start Time:</label>
              <input [owlDateTime]="dt1" [min]="minimumDate" name="startDate1" [(ngModel)]="startDate1" placeholder="Start Date Time">
              <span [owlDateTimeTrigger]="dt1">
                <i class="fa fa-calendar"></i>
              </span>
              <owl-date-time #dt1></owl-date-time>              
          </div>
          <div class="col-md-5">
              <label for="endTime" class="sr-only">End Time:</label>
              <input [owlDateTime]="dt2" [max]="maximumDate" name="endDate1" [(ngModel)]="endDate1" placeholder="End Date Time">

              <span [owlDateTimeTrigger]="dt2">
                <i class="fa fa-calendar"></i>
              </span>
              <owl-date-time #dt2></owl-date-time>
          </div>
        </div>                    
        
        <br>
        <div class="row">
          <div class="col-md">            
            <input type="text" #meetingAgenda="ngModel" id="inputTitle" name="title" [(ngModel)]="title" class="form-control"
            placeholder="Meeting Title" required autofocus>

          <div [hidden]="meetingAgenda.pristine || meetingAgenda.valid" class="alert alert-danger">
            <div *ngIf="meetingAgenda.errors?.required">
              ** Meeting  Title is required!
            </div>
          </div>

          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md">
            <textarea type="text" #agenda="ngModel" id="inputDescription" name="description" [(ngModel)]="description"
                  class="form-control" placeholder="Description of Meeting" required></textarea>

                <div [hidden]="agenda.pristine || agenda.valid" class="alert alert-danger">
                  <div *ngIf="agenda.errors?.required">
                    ** Description is required!
                  </div>
                </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12">
            <div class="form-group">              
              <input type="text" #location="ngModel" id="inputVenue" name="venue"
                [(ngModel)]="venue" class="form-control" placeholder="Venue" required>

              <div [hidden]="location.pristine || location.valid" class="alert alert-danger">                
                <div *ngIf="location.errors?.required">
                  ** Location is required!
                </div>
              </div>
            </div>
          </div>
        </div>     
      </div>
      
      <div class="modal-footer">
        <button type="button" [disabled]="!createMeetingForm.form.valid" class="btn btn-primary" (click)="createMeetingFunction()">
          create Meeting
        </button>        
      </div>
    </form>
    </ng-template>
    <!-- Update Meeting Modal -->
    <ng-template #modalEditMeeting let-close="close">
      <div class="modal-header">
        <h5 class="modal-title">Update  Meeting with {{modalData.event.participantName}} </h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #updateMeetingForm="ngForm">
      <div class="modal-body">        
          <div class="row">
              <div class="col-md-5 col-lg-5 owlStyle">
                  <label>Start Date & Time:</label>
                  <input [owlDateTime]="dt1" [min]="minimumDate" name="startDate1" [(ngModel)]="modalData.event.meetingStartDate" placeholder="Start Date Time">
                  <span [owlDateTimeTrigger]="dt1">
                    <i class="fa fa-calendar"></i>
                  </span>
                  <owl-date-time #dt1></owl-date-time>              
              </div>
              <div class="col-md-5">
                  <label>End date & Time:</label>
                  <input [owlDateTime]="dt2" [max]="maximumDate" name="endDate1" [(ngModel)]="modalData.event.meetingEndDate" placeholder="End Date Time">
    
                  <span [owlDateTimeTrigger]="dt2">
                    <i class="fa fa-calendar"></i>
                  </span>
                  <owl-date-time #dt2></owl-date-time>
              </div>  
              
          </div>
          
          <div class="row"> 
              <div class="col-md-5 col-lg-5">   
                  <label>Meeting Agenda</label>         
                  <input type="text" #meetingAgenda="ngModel" id="inputTitle" name="title" [(ngModel)]="modalData.event.title" class="form-control"
                  placeholder="Meeting Title" required autofocus>
      
                <div [hidden]="meetingAgenda.pristine || meetingAgenda.valid" class="alert alert-danger">
                  <div *ngIf="meetingAgenda.errors?.required">
                    ** Meeting  Title is required!
                  </div>
                </div>
      
              </div>
  
              <div class="col-md-5">
                  <label>Meeting Description</label>
                  <textarea type="text" #agenda="ngModel" id="inputDescription" name="description" [(ngModel)]="modalData.event.meetingDescription"
                        class="form-control" placeholder="Description of Meeting" required></textarea>
      
                      <div [hidden]="agenda.pristine || agenda.valid" class="alert alert-danger">
                        <div *ngIf="agenda.errors?.required">
                          ** Description is required!
                        </div>
                      </div>
                </div>  
                       
          </div>
          
        
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">   
              <label>Meeting Venue</label>           
              <input type="text" #location="ngModel" id="inputVenue" name="venue"
                [(ngModel)]="modalData.event.meetingPlace" class="form-control" placeholder="Venue" required>
              <div [hidden]="location.pristine || location.valid" class="alert alert-danger">                
                <div *ngIf="location.errors?.required">
                  ** Location is required!
                </div>
              </div>
            </div>
          </div>
        </div>     
      </div>
      <div class="modal-footer">
        <h6 style="float: left;">Meeting hosted by : {{adminName}}</h6>
        <button type="button"[disabled]="!updateMeetingForm.form.valid" class="btn btn-outline-success" (click)="updateMeetingFunction(modalData.event)">
          update Meeting
        </button>
      </div>
    </form>
    </ng-template>
    <ng-template #modalDeleteMeeting let-close="close">
        <div class="modal-header">
            <h5 class="modal-title">Delete Meeting</h5>
            <button type="button" class="close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body text-center">
          <p>Do you want to confirm?</p>
          <button type="button" class="btn btn-default" (click)="deleteMeetingFunction(modalData.event,true)" >Yes</button>
          <button type="button" class="btn btn-primary" (click)="deleteMeetingFunction(modalData.event, false)" >No</button>
        </div>
      </ng-template>
      <ng-template #modalEventNotification let-close="close">
          <div class="modal-header">
            <h5 class="modal-title">Meeting Reminder</h5>
            <button type="button" class="close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h6 class="card-title">Your meeting <span><i> {{modalData?.event.meetingTopic}} </i></span> will start soon!</h6>
          </div>
        
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-success" (click)="modalData?.event.remindMe=true;gentleReminder=true;close()">Snooze</button>
            <button type="button" class="btn btn-outline-secondary" (click)="modalData?.event.remindMe=false;gentleReminder=true;close()">Dismiss</button>
          </div>
        </ng-template>
        