
<div class="container">
    <div id="loginId" style="margin-top: 2vh; margin-bottom: 2vh;" class="col-sm-12 col-md-8 col-lg-6 mx-auto">
        <div class="jumbotron">            
                <div class="text-center">
                    <div>
                        <h4>Login to Schedule Meeting</h4>
                    </div>
                </div>
                <br>
                <form id="loginform" class="form-horizontal" role="form">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">  
                                <i class="fa fa-envelope"></i>  
                              </span> 
                        </div>
                        <input type="email" id="inputEmail" [(ngModel)]="email" class="form-control" placeholder="Email address" name="email" required
                            autofocus>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">  
                                <i class="fa fa-lock"></i>  
                            </span> 
                        </div>
                        <input type="password" id="inputPassword" [(ngModel)]="password" (keydown)="loginUsingKeypress($event)" name="password" class="form-control"
                            placeholder="Password" required>
                    </div>

 

                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->

                        <div class="col-sm-12 controls">
                            <button id="btn-signin" type="button" class="btn btn-primary" (click)="signInFunction()">
                                <i class="icon-hand-right"></i> Login Now</button>
                
                        </div>
                    </div>
 
                    <a style="float:left" class="nav-link" [routerLink]="['/retrivePassword']">Retrive password?</a>

                </form>        
                    </div>
    </div>
</div>